---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import benchPlaneImage from "../assets/images/bench-plane-frog_adobe_express.svg";
import complianceImage from "../assets/images/compliance.jpeg";
import cscsGoldImage from "../assets/images/cscs_gold.png";
import AboutList from "../components/AboutList.astro";
---

<Layout title="About Us">
  <div class="mx-auto container">
    <div class="w-full py-12 lg:py-24">
      <div class="container px-4">
        <div class="flex flex-col items-center space-y-8">
          <h1 class="text-3xl font-bold tracking-tight">About</h1>
          <p class="text-center text-gray-500 dark:text-gray-400">
            Providing the highest level of expertise and service.
          </p>
        </div>
      </div>
      <div
        class="px-4 mt-8 grid md:grid-cols-2 lg:grid-cols-3 md:gap-8 items-start"
      >
        <div class="flex h-full flex-col space-y-4 items-center shadow-2xl p-8">
          <h2 class="text-xl font-semibold tracking-tight">Qualified</h2>
          <p class="text-sm text-gray-500 dark:text-gray-400">
            Our team is highly qualified to meet the demands of the job.
          </p>
          <Image
            src={benchPlaneImage}
            width="386"
            height="256"
            class="object-fit h-[300px]"
            alt="Bench Plane"
          />
          <AboutList
            items={[
              { text: "CSCS Registered" },
              { text: "Carpenters & Joiners" },
              { text: "City & Guilds ”Distinction Grades" },
              { text: "Advanced City & Guilds ”Distinction Grades" },
              { text: "Reach & Boom hydraulic lifts" },
              { text: "Asbestos Awareness" },
            ]}
          />
          <a class="text-base font-semibold" href="/qualifications">
            View our Qualifications
          </a>
        </div>
        <div class="flex h-full flex-col items-center space-y-4 shadow-2xl p-8">
          <h2 class="text-xl font-semibold tracking-tight">Compliance</h2>
          <p class="text-sm text-gray-500 dark:text-gray-400">
            We adhere to the highest standards of compliance and ethics.
          </p>
          <Image
            src={complianceImage}
            width="382"
            height="294"
            class="object-fit h-[300px]"
            alt="Compliance"
          />
          <AboutList
            items={[
              { text: "What the law requires" },
              { text: "Insurance" },
              { text: "Health and Safety" },
              {
                text: "Fire Safety Regulations 2022: fire door guidance",
                link: "https://www.gov.uk/government/publications/fire-safety-england-regulations-2022-fire-door-guidance/fire-safety-england-regulations-2022-fire-door-guidance",
              },
            ]}
          />
          <a class="text-base font-semibold" href="/compliance">
            View our Compliance
          </a>
        </div>
        <div
          class="flex flex-grow h-full flex-col items-center space-y-4 shadow-2xl p-8"
        >
          <h2 class="text-xl font-semibold tracking-tight">CSCS</h2>
          <p class="text-sm text-gray-500 dark:text-gray-400">
            The CSCS accreditation ensures our commitment to safety.
          </p>
          <Image
            src={cscsGoldImage}
            width="416"
            height="261"
            class="object-fit max-w-full h-[300px] mx-auto block"
            alt="CSCS Gold Logo"
          />
          <p class="p-2 flex-1 flex-grow">
            (CSCS) Construction Skills Certification Scheme is used to measure
            the different levels of qualifications between contractors. We have
            passed the construction skill health and safety test to obtain gold
            card status.
          </p>
          <a class="text-base font-semibold" href="/qualifications">
            View our Qualifications
          </a>
        </div>
      </div>
    </div>
  </div>
</Layout>
