---
import ContactForm from "../components/ContactForm.astro";
import OfficeIcon from "../icons/OfficeIcon.astro";
import CardChecklist from "../icons/CardChecklist.astro";
import EnvelopeIcon from "../icons/EnvelopeIcon.astro";
import PhoneIcon from "../icons/PhoneIcon.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact Us" classes="mt-8 mb-16">
  <div class="container mx-auto sm:px-4 pb-12">
    <div class="flex flex-wrap mt-5 mb-4">
      <div class="relative flex-grow max-w-full flex-1 px-4 pb-12">
        <h1 class="text-3xl font-bold">Contact Us</h1>
        <p class="text-xl font-light mb-4 mt-1">Getting in touch is so easy.</p>
        <p>
          We always look forward to hearing from you and being able to assist
          where we can.
        </p>
      </div>
    </div>

    <div class="flex flex-wrap lg:pb-2">
      <div class="lg:w-3/5 pr-4 pl-4 md:w-3/5 pr-4 pl-4">
        <!-- <div
          class="relative flex flex-col min-w-0 rounded break-words border bg-white border-1 border-gray-300 p-6"
        >
          <h4 class="text-color-dark mb-1 pb-3">Instant message</h4> -->
        <ContactForm />
        <!-- <form id="contact-form" method="post" action="submit-form">
            <div class="mb-4">
              <label for="form-name">Name</label>
              <input
                type="text"
                placeholder="Enter your name"
                value=""
                data-msg-required="Please enter your name."
                maxlength="30"
                class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                name="name"
                id="name"
                required=""
              />
            </div>
            <div class="mb-4">
              <label for="form-email">Email</label>
              <input
                type="text"
                name="email"
                class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                id="form-email"
                placeholder="Enter your email address"
                required=""
              />
              <small id="emailHelp" class="block mt-1 text-gray-700"
                >We'll never share your email with anyone else.</small
              >
            </div>
            <div class="mb-4">
              <label for="form-phone">Phone</label>
              <input
                type="text"
                name="phone"
                class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                id="form-phone"
                placeholder="Enter your phone number"
                required=""
              />
            </div>
            <div class="mb-4">
              <label for="form-message">Message</label>
              <textarea
                class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                name="message"
                id="form-message"
                rows="3"
                placeholder="Enter your message to us - e.g - I would like to discuss some concerns about our fire doors"
              ></textarea>
            </div>
            <input
              type="text"
              class="hidden"
              name="site_location"
              id="site_location"
              value=""
            />
            <input
              type="hidden"
              name="recaptcha_value"
              id="recaptcha_value"
              value=""
            />

            <button
              type="submit"
              id="submit-form"
              class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded no-underline py-1 px-2 leading-tight text-xs bg-blue-600 text-white hover:bg-blue-600 mt-2"
              >Submit Form</button
            >
          </form> -->

        <!-- <div
            id="contact-error-alert"
            class="relative px-3 py-3 mb-4 border rounded bg-red-200 border-red-300 text-red-800 mt-2 mb-0"
            role="alert"
            style="display: none;"
          >
            Something went wrong when submitting the form!
          </div>

          <div
            id="contact-success-alert"
            class="relative px-3 py-3 mb-4 border rounded bg-blue-200 border-blue-300 text-blue-800 mt-2 mb-0"
            role="alert"
            style="display: none;"
          >
            Form Submitted Successfully!
          </div>
        </div> -->
      </div>

      <div class="lg:w-2/5 pr-4 pl-4 md:w-2/5 col-lg-offset-1">
        <div
          class="relative flex flex-col min-w-0 rounded break-words border bg-white border-1 border-gray-300 p-6 shadow-2xl"
        >
          <OfficeIcon className="h-4 w-4 inline-block" />
          <h4 class="text-color-dark mb-1 pb-2">Office</h4>

          <ul class="list list-icons mt-3 mb-3">
            <li class="no-list-style">
              Rose Cottage<br />1 Post Office Row<br />Bilton-in-Ainsty<br
              />York<br />YO26 7NW
            </li>
            <li class="no-list-style">
              <PhoneIcon className="h-4 w-4 inline-block" />
              <a href="tel:07544 030486" class="no-underline">07544 030486</a>
            </li>
            <li class="no-list-style">
              <EnvelopeIcon className="h-4 w-4 inline-block" />
              <a href="mailto:robert@coulsy.co.uk">robert@coulsy.co.uk</a>
            </li>
          </ul>
        </div>
        <div
          class="relative flex flex-col min-w-0 rounded break-words border bg-white border-1 border-gray-300 p-6 shadow-2xl mt-4"
        >
          <h4 class="text-color-dark mb-1 pb-2">Company details</h4>
          <p class="text-xs">Rest assured by knowing who we are.</p>

          <ul class="list list-icons mt-3 mb-3">
            <li class="no-list-style">
              <CardChecklist className="h-4 w-4 inline-block" /> Registered Company
              : Coulsy Ltd
            </li>
            <li class="no-list-style">
              <CardChecklist className="h-4 w-4 inline-block" /> Company number :
              8575688
            </li>
            <li class="no-list-style">
              <CardChecklist className="h-4 w-4 inline-block" /> Commenced trading
              : July 2013
            </li>
            <li class="no-list-style">
              <CardChecklist className="h-4 w-4 inline-block" /> VAT registered:
              upon request
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</Layout>
