---
import Layout from "../layouts/Layout.astro";
import sustainabilityLogo from "../assets/images/sustainability_logo.svg";
import Image from "astro/components/Image.astro";
const currentPath = Astro.url.pathname;
---

<Layout title="Our Sustainability">
  <div class="w-full container mx-auto px-8 py-12">
    <div class="flex justify-left">
      <nav class="text-sm sm:text-base pb-6">
        <ol class="list-none p-0 inline-flex space-x-2">
          <li class="flex items-center">
            <svg
              onclick="window.location.href='/';"
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 576 512"
              class="cursor-pointer hover:fill-blue-500 transition-colors duration-300 mr-2"
              fill="#4b5563"
              ><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"
              ></path></svg
            >
            <span class="mx-2">/</span>
          </li>
          <li class="flex items-center">
            <a
              href="/about"
              class="text-gray-600 hover:text-blue-500 transition-colors duration-300"
              >About</a
            >
            <span class="mx-2">/</span>
          </li>
          <li class="flex items-center">
            <a
              href="#"
              class={currentPath === "/sustainability"
                ? "text-yellow-600 font-semibold"
                : ""}
            >
              <span class="">Sustainability</span>
            </a>
          </li>
        </ol>
      </nav>
    </div>

    <h1 class="text-3xl font-bold tracking-tight pb-4">Sustainability</h1>
    <div class="grid md:grid-cols-2 items-start gap-8">
      <div class="space-y-4">
        <div class="space-y-4 text-gray-600 prose">
          <h2 class="font-semibold text-lg">
            Environmental and pollution prevention
          </h2>
          <p>
            The director recognises day to day operations of the business will
            impact on the environment, however, we will strive to minimise the
            potentially harmful effects of any such activity wherever and
            whenever practicable. Initiatives that reduce the carbon footprint
            of the business.
          </p>
          <h2 class="font-semibold text-lg">
            Legislative and regulatory compliance
          </h2>
          <p>
            Environmental regulations, laws and codes of practice will be
            regarded as setting the minimum standards of environmental
            performance. Where there is not law for a specific task, we will
            take initiative for the most environmentally process to complete its
            tasks and record them accordingly.
          </p>
          <h2 class="font-semibold text-lg">Communincation to our staff</h2>
          <p>
            Our employee involvement in environmental matters is encouraged and
            will be promoted through training, communications and a constant
            reappraisal of working methods and techniques.
          </p>
          <h2 class="font-semibold text-lg">Social</h2>
          <p>
            We actively have initiatives promoting the wellbeing, health and
            safety of communities, customers, our clients and employees.
          </p>
          <p>
            We can provide more information and answer any questions you may
            have. Please feel free to <a
              href="/contact"
              class="font-semibold text-blue-700 hover:underline">contact us</a
            >.
          </p>
        </div>
      </div>
      <div class="flex items-start">
        <Image
          src={sustainabilityLogo}
          width="526"
          height="489"
          class="object-fit max-w-full h-auto mx-auto block mb-4"
          alt="Sustainability Image"
        />
      </div>
    </div>
  </div>
</Layout>
