---
import Image from "astro/components/Image.astro";

import fireDoorKeepShut from "../assets/images/fire_door_keep_shut.jpeg";
import doorCloserOpen from "../assets/images/door-closer-open.jpeg";
import doorHanging from "../assets/images/door-hanging-1.jpeg";
import buildingMaintenance from "../assets/images/building-maintenance.jpeg";
---

<div id="myCarousel" class="relative overflow-hidden">
  <div
    class="indicators absolute bottom-2 mx-auto z-10 left-1/2 -translate-x-1/2"
  >
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="0"
      class=""
      aria-label="Slide 1"></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
      class=""></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
      class=""></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="3"
      aria-label="Slide 4"
      class="active"
      aria-current="true"></button>
  </div>
  <div class="glider rounded-3 shadow-lg">
    <div class="relative">
      <Image
        src={fireDoorKeepShut}
        width="856"
        height="512"
        class="object-fit aspect-video"
        alt="COULSY Fire Door Services"
      />
      <div class="absolute w-full">
        <div
          class="absolute pt-5 pb-5 text-white text-center bottom-5 left-1/4 right-1/4"
        >
          <h1 class="text-brand text-4xl font-bold">Fire Door Inspections</h1>
          <h2 class="text-brand text-3xl">Safety First</h2>
          <p class="text-brand text-xl">
            Here to assist to bring your fire doors up to regulation
          </p>
          <p>
            <a
              class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded no-underline py-3 px-4 leading-tight text-xl bg-brand text-white hover:bg-brand"
              href="fire-door-inspections">Proceed to fire door inspections</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="relative">
      <Image
        src={doorCloserOpen}
        width="856"
        height="512"
        class="object-fit aspect-video"
        alt="COULSY Fire Door Services"
      />

      <div class="absolute w-full">
        <div
          class="absolute pt-5 pb-5 text-white text-center bottom-5 left-1/4 right-1/4"
        >
          <h1 class="text-brand text-4xl font-bold">Fire Door Maintenance</h1>
          <h2 class="text-brand text-3xl">Repair Service</h2>
          <p class="text-brand text-xl">
            Let's see if we can fix your fire doors problems
          </p>
          <p>
            <a
              class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded no-underline py-3 px-4 leading-tight text-xl bg-brand text-white hover:bg-brand"
              href="fire-door-maintenance">Proceed to fire door maintenance</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="relative">
      <Image
        src={doorHanging}
        width="856"
        height="512"
        class="object-fit aspect-video"
        alt="COULSY Fire Door Services"
      />
      <div class="absolute w-full">
        <div
          class="absolute pt-5 pb-5 text-white text-center bottom-5 left-1/4 right-1/4"
        >
          <h1 class="text-brand text-4xl font-bold">Fire Door Installation</h1>
          <h2 class="text-brand text-3xl">Accredited Installers</h2>
          <p class="text-brand text-xl">
            Here to install your fire doors to current regulations
          </p>
          <p>
            <a
              class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded no-underline py-3 px-4 leading-tight text-xl bg-brand text-white hover:bg-brand"
              href="fire-door-installation">Proceed to fire door Installation</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="relative">
      <Image
        src={buildingMaintenance}
        width="856"
        height="512"
        class="object-fit aspect-video"
        alt="COULSY Fire Door Services"
      />
      <div class="absolute w-full">
        <div
          class="absolute pt-5 pb-5 text-white text-center bottom-5 left-1/4 right-1/4"
        >
          <h1 class="text-brand text-4xl font-bold">Property Maintenance</h1>
          <h2 class="text-brand text-3xl">Buildings service and repairs</h2>
          <p class="text-brand text-xl">
            As Qualified tradespeople we have the knowledge, expertise,
            experience and commercial tools to do a professional bespoke service
          </p>
          <p>
            <a
              class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded no-underline py-3 px-4 leading-tight text-xl bg-brand text-white hover:bg-brand"
              href="property-maintenance">Proceed to property maintenance</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<script>
  // @ts-ignore
  import Glider from "glider-js";
  console.log(Glider);
  const el = document.querySelector(".glider");
  if (el) {
    new Glider(el as HTMLElement, {
      slidesToShow: 1,
      scrollLock: true,
      resizeLock: true,
      rewind: true,
      draggable: true,
      arrows: {
        prev: ".carousel-control-prev",
        next: ".carousel-control-next",
      },
      dots: ".indicators",
    });
  }
</script>
