---

---

<section class="container mx-auto">
  <div
    class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16"
  >
    <div class="mx-auto max-w-lg text-center">
      <h2 class="text-3xl font-bold sm:text-4xl">Common Fire Door Failures</h2>

      <p class="mt-4 text-gray-500">
        We know that fire doors are a crucial part of a building's passive fire,
        and that they need to be installed correctly to ensure they are
        effective. Here are some common fire door failures that you should be
        aware of.
      </p>
    </div>

    <div
      class="mt-8 grid grid-cols-1 gap-4 md:gap-8 md:grid-cols-2 lg:grid-cols-3"
    >
      <div
        class="flex items-center justify-center rounded-sm border border-gray-400 p-8 shadow-sm transition"
      >
        <h2 class="text-xl font-bold text-center">
          Doors are incorrectly fitted or damaged
        </h2>
      </div>

      <div
        class="flex items-center justify-center rounded-sm border border-gray-400 p-8 shadow-sm transition"
      >
        <h2 class="text-xl font-bold text-center">Wrong gap tollerances</h2>
      </div>

      <div
        class="flex items-center justify-center rounded-sm border border-gray-400 p-8 shadow-sm transition"
      >
        <h2 class="text-xl font-bold text-center">
          Doors not fully engaging into the rebate
        </h2>
      </div>

      <div
        class="flex items-center justify-center rounded-sm border border-gray-400 p-8 shadow-sm transition"
      >
        <h2 class="text-xl font-bold text-center">
          Faulty or badly fitted door closers
        </h2>
      </div>


      <div
        class="flex items-center justify-center rounded-sm border border-gray-400 p-8 shadow-sm transition"
      >
        <h2 class="text-xl font-bold text-center">
          Incorrect or faulty door furniture and hinge specification
        </h2>
      </div>
      <div
        class="flex items-center justify-center rounded-sm border border-gray-400 p-8 shadow-sm transition"
      >
        <h2 class="text-xl font-bold text-center">
          Incorrect, damaged or failed fire door seals
        </h2>
      </div>
      <div
        class="flex items-center justify-center rounded-sm border border-gray-400 p-8 shadow-sm transition"
      >
        <h2 class="text-xl font-bold text-center">
          Glazing is the incorrect specification
        </h2>
      </div>
    </div>
  </div>
</section>
