---
const posthogKey = import.meta.env.VITE_POSTHOG_KEY;
---

<div
  id="cookie-banner"
  data-posthog-key={posthogKey}
  class="opacity-0 transition-opacity delay-150 duration-300 fixed bottom-4 left-4 right-4 p-4 bg-white z-10 shadow-2xl"
>
  <h2 class="text-2xl font-bold">Cookie Policy</h2>
  <p class="mt-1 text-sm text-neutral-600">
    This site uses cookies to improve your experience. By clicking "Accept", you
    agree to the use of cookies.
  </p>
  <div>
    <button
      class="mt-2 bg-brand text-white p-2 inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2"
      id="accept-cookies"
    >
      Accept
    </button>
    <button
      class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 ml-2"
      id="decline-cookies"
    >
      Decline
    </button>
  </div>
</div>
<script>
  import posthog from "posthog-js";

  const cookieBannerEl =
    document.querySelector<HTMLDivElement>("#cookie-banner");
  const posthogKey = cookieBannerEl?.dataset.posthogKey;

  if (posthogKey) {
    posthog.init(posthogKey, {
      api_host: "https://eu.posthog.com",
      autocapture: false,
    });

    const CONSENT_KEY = "cookie_consent";
    const CONSENT_STATE = {
      ACCEPTED: "accepted",
      DECLINED: "declined",
    };
    const cookieConsent = localStorage.getItem(CONSENT_KEY);

    if (!cookieConsent) {
      document.querySelector("#cookie-banner")?.classList.remove("opacity-0");
      document.querySelector("#cookie-banner")?.classList.add("opacity-100");
    }

    if (cookieConsent === CONSENT_STATE.ACCEPTED) {
      posthog.opt_in_capturing();
    }

    if (cookieConsent === CONSENT_STATE.DECLINED) {
      posthog.opt_out_capturing();
    }

    document.querySelector("#accept-cookies")?.addEventListener("click", () => {
      localStorage.setItem(CONSENT_KEY, CONSENT_STATE.ACCEPTED);
      document.querySelector("#cookie-banner")?.classList.remove("opacity-100");
      document.querySelector("#cookie-banner")?.classList.add("opacity-0");
      posthog.opt_in_capturing();
    });

    document
      .querySelector("#decline-cookies")
      ?.addEventListener("click", () => {
        localStorage.setItem(CONSENT_KEY, CONSENT_STATE.DECLINED);
        document
          .querySelector("#cookie-banner")
          ?.classList.remove("opacity-100");
        document.querySelector("#cookie-banner")?.classList.add("opacity-0");
        posthog.opt_out_capturing();
      });
  }
</script>
