---

---

<section class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 md:py-16 lg:px-8">
    <div class="mx-auto max-w-3xl text-center">
      <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl">
        Fire safety is a very serious concern
      </h2>

      <p class="mt-4 text-gray-500 sm:text-xl">
        Here are some statistics that show the importance of fire safety in the
        UK ending September 2024.
      </p>
    </div>

    <div class="mt-8 sm:mt-12">
      <dl
        class="grid grid-cols-1 gap-4 sm:grid-cols-3 sm:divide-x sm:divide-gray-100"
      >
        <div class="flex flex-col px-4 py-8 text-center">
          <dt class="order-last text-lg font-medium text-gray-500">
            Workplace fires in the uk
          </dt>

          <dd class="text-4xl font-extrabold text-brand md:text-5xl">7,033</dd>
        </div>

        <div class="flex flex-col px-4 py-8 text-center">
          <dt class="order-last text-lg font-medium text-gray-500">
            Fatalities
          </dt>

          <dd class="text-4xl font-extrabold text-brand md:text-5xl">309</dd>
        </div>

        <div class="flex flex-col px-4 py-8 text-center">
          <dt class="order-last text-lg font-medium text-gray-500">
            Response time
          </dt>

          <dd class="text-4xl font-extrabold text-brand md:text-5xl">
            9 minutes
          </dd>
        </div>
      </dl>
    </div>
  </div>
</section>
