---

---

<footer id="footer">
  <div class="container mx-auto sm:px-4">
    <div class="flex flex-wrap">
      <div class="lg:w-full pr-4 pl-4">
        <ul class="list-unstyled">
          <li class="float-end"><a href="#top">Back to top</a></li>
          <!-- <li><a href="">Blogs</a></li> -->
        </ul>
        <p>Copyright © 2013 - 2023 - Coulsy ™ - All rights reserved</p>
        <p>
          Designed &amp; Maintained By <a
            href="http://coulsy.co.uk"
            target="_blank">Coulsy™</a
          > - W3C
        </p>
      </div>
    </div>
  </div>
</footer>
