---

---

<footer class="bg-gray-100 py-12">
  <div class="container mx-auto px-4">
    <div
      class="grid md:grid-cols-2 lg:grid-cols-4 gap-8 items-start mx-auto text-sm text-gray-600"
    >
      <div class="px-8">
        <div class="font-semibold mb-2">Services</div>
        <nav aria-label="Products">
          <ul class="">
            <li>
              <a
                class="hover:text-gray-900 hover:underline"
                href="/fire-door-services">Fire Door Services</a
              >
            </li>
            <li>
              <a
                class="hover:text-gray-900 hover:underline"
                href="/fire-door-installers">Fire Door Installers</a
              >
            </li>
            <li>
              <a
                class="hover:text-gray-900 hover:underline"
                href="/fire-door-inspectors">Fire Door Inspectors</a
              >
            </li>
            <li>
              <a
                class="hover:text-gray-900 hover:underline"
                href="/fire-door-maintenance">Fire Door Maintenance</a
              >
            </li>
            <li>
              <a
                class="hover:text-gray-900 hover:underline"
                href="https://coulsyjoinery.co.uk/"
                target="_blank">Coulsy Carpentry and Joinery</a
              >
            </li>
            <li>
              <a
                class="hover:text-gray-900 hover:underline"
                href="https://coulsycontractsolutions.co.uk/"
                target="_blank">Property Maintenance at Coulsy Ltd</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="px-8">
        <div class="font-semibold mb-2">Locations</div><nav
          aria-label="Locations"
        >
          <ul>
            <li>
              <a
                class="hover:text-gray-900 hover:underline"
                href="/leeds-fire-door-services">Leeds</a
              >
            </li>
            <li>
              <a
                class="hover:text-gray-900 hover:underline"
                href="/york-fire-door-services">York</a
              >
            </li>

            <li>
              <a
                class="hover:text-gray-900 hover:underline"
                href="/manchester-fire-door-services">Manchester</a
              >
            </li>

            <li>
              <a
                class="hover:text-gray-900 hover:underline"
                href="/ripon-fire-door-services">Ripon</a
              >
            </li>
            <li>
              <a
                class="hover:text-gray-900 hover:underline"
                href="/harrogate-fire-door-services">Harrogate</a
              >
            </li>
            <li>
              <a
                class="hover:text-gray-900 hover:underline"
                href="/yorkshire-fire-door-services">Yorkshire</a
              >
            </li>

            <li>
              <a
                class="hover:text-gray-900 hover:underline"
                href="/lancashire-fire-door-services">Lancashire</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="px-8">
        <div class="font-semibold mb-2">About us</div>
        <nav aria-label="About us">
          <ul>
            <li>
              <a class="hover:text-gray-900 hover:underline" href="/contact"
                >Contact</a
              >
            </li>
            <li>
              <a class="hover:text-gray-900 hover:underline" href="/about"
                >About</a
              >
            </li>
            <li>
              <a
                class="hover:text-gray-900 hover:underline"
                href="/qualifications">Our Qualifications</a
              >
            </li>
            <li>
              <a class="hover:text-gray-900 hover:underline" href="/compliance"
                >Our Compliance</a
              >
            </li>
            <li>
              <a
                class="hover:text-gray-900 hover:underline"
                href="/sustainability">Our Sustainability</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="px-8 md:col-span-2 lg:col-span-1">
        <div class="space-y-1">
          <p>Copyright © 2013 - 2024</p>
          <p class="pt-4">
            <a
              class="hover:text-gray-900 hover:underline"
              href="http://coulsy.co.uk/">Coulsy Ltd</a
            >
          </p>
          <p>
            <a
              class="hover:text-gray-900 hover:underline"
              href="tel:07544 030486">07544 030486</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
