---
import Carousel from "../components/CarouselNew.astro";
import ContactForm from "../components/ContactForm.astro";
import Layout from "../layouts/Layout.astro";

const { location, type } = Astro.params;

function capitalizeFirstLetter(string: string) {
  return string.charAt(0).toUpperCase() + string.slice(1);
}
const typeFormated = type
  ? type.split("-").map(capitalizeFirstLetter).join(" ")
  : "Fire Door Services";
const locationFormated = location ? capitalizeFirstLetter(location) : "COULSY";
---

<Layout title="">
  <main class="container mx-auto sm:px-4 mt-16">
    <div class="flex flex-wrap">
      <div class="md:w-2/3 lg:w-2/3 pr-4 pl-4">
        <div class="flex flex-wrap">
          <Carousel />
        </div>

        <div class="flex flex-wrap">
          <div class="container mx-auto sm:px-4" id="">
            <h1 class="text-3xl fs-3 mt-4">
              Welcome to {locationFormated}
              {typeFormated}
            </h1>
            <h3 class="text-2xl font-medium pb-2 border-b mt-4">
              Our <small class="text-gray-700"
                ><i class="bi bi-clipboard2-check"></i>
                Services</small
              >
            </h3>
            <div class="flex flex-wrap g-4 py-3 row-cols-2 row-cols-lg-2">
              <div class="feature relative flex-grow max-w-full flex-1 px-4">
                <ul>
                  <li>Fire door maintenance and repairs</li>
                  <li>Surveys, assessments and checks</li>
                  <li>
                    6 monthly inspections to RRO (Regulatory Reform Order)
                  </li>
                </ul>
              </div>
              <div class="feature relative flex-grow max-w-full flex-1 px-4">
                <ul>
                  <li>Supply and installation and fitting</li>
                  <li>Fire door inspections</li>
                  <li>Fire door risk assesments</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="lg:w-1/3 md:w-1/3 pr-4 pl-4">
        <div class="flex flex-wrap flex-col lg:pb-2">
          <ContactForm />
        </div>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="container mx-auto sm:px-4" id="">
        <h3 class="text-2xl font-medium pb-2 border-b mt-4">
          Who are we? {
            location ? (
              <small class="text-gray-700">
                We are {capitalizeFirstLetter(location)} Fire Door Specialists
              </small>
            ) : (
              ""
            )
          }
        </h3>
        <div class="flex flex-wrap g-4 py-3 row-cols-1 row-cols-lg-1">
          <div class="feature relative flex-grow max-w-full flex-1 px-4">
            <p class="mb-2">
              We inspect, repair, maintain, supply and install fire doors and
              frames.
            </p>
            <p class="mb-2">
              We also provide a landlord property maintenance and support
              service.
            </p>
            <a href="about" class="">More about us...</a>
          </div>
        </div>
      </div>
      <div class="container mx-auto sm:px-4" id="">
        <h3 class="text-2xl font-medium pb-2 border-b mt-4">
          Why fire doors? <small class="text-gray-700"
            ><i class="bi bi-activity"></i> Protection</small
          >
        </h3>
        <div class="flex flex-wrap g-4 py-3 row-cols-1 row-cols-lg-1">
          <div class="feature relative flex-grow max-w-full flex-1 px-4">
            <p class="mb-2">
              Buildings are compartmented to delay the spread of fire and smoke
              from one area to another. The compartments are usually linked by
              doors to allow for passage of traffic.
            </p>
            <p class="mb-2">
              Fire door sets have important functions in a fire, when closed
              they form a barrier to fire and smoke spread, they also provide a
              means of escape.
            </p>
            <p class="mb-2">
              Most fire deaths are not caused by burns, but by smoke inhalation,
              which can lead to the inability to exit the building.<span
                class="text-red-600"
              >
                Smoke can overcome victims very quickly!</span
              >
            </p>
            <p class="mb-2">
              All of our fire doors are tested to the appropriate regulations,
              absolute assurance that our fire doors are fit for purpose and
              gurantee your building's and personnel safety.
            </p>
          </div>
        </div>
      </div>
      <div class="container mx-auto sm:px-4" id="">
        <h3 class="text-2xl font-medium pb-2 border-b mt-4">
          Fire door <small class="text-gray-700"
            ><i class="bi bi-clipboard-x"></i> Common Failures</small
          >
        </h3>
        <div class="flex flex-wrap g-4 py-3 row-cols-2 row-cols-lg-2">
          <div class="feature relative flex-grow max-w-full flex-1 px-4">
            <ul>
              <li>Doors are incorrectly fitted or damaged</li>
              <li>Wrong gap tollerances</li>
              <li>Doors not fully engaging into the rebate</li>
              <li>Faulty or badly fitted door closers</li>
            </ul>
          </div>
          <div class="feature relative flex-grow max-w-full flex-1 px-4">
            <ul>
              <li>Doors incorrectly fitted or damaged</li>
              <li>
                Incorrect or faulty door furniture and hinge specification
              </li>
              <!-- Button trigger modal -->
              <li>
                Incorrect, damaged or failed <a
                  href="#"
                  class=""
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal">fire door seals</a
                >
              </li>
              <li>Glazing is the incorrect specification</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container mx-auto sm:px-4" id="">
        <h3 class="text-2xl font-medium pb-2 border-b mt-4">Our sevices</h3>
        <div class="flex flex-wrap g-4 py-3 row-cols-1 row-cols-lg-5">
          <div class="feature relative flex-grow max-w-full flex-1 px-4">
            <h4 class="fs-5">
              <i
                class="bi bi-door-open"
                style="font-size: 2rem; color: #05bd9b;"></i>
              <a href="fire-door-services" class="">Fire Door Services</a>
            </h4>
            <p class="mb-2">
              The correct inspection of your fire door and its frame are
              cruicial to its performance.
            </p>
            <div class="flex justify-between">
              <a href="fire-door-services" class="">Further information...</a>
              <a
                href="areas-covered-fire-door-services"
                class="text-xs"
                style="text-decoration: none; color: lightgray;"
                >Areas covered</a
              >
            </div>
            <hr />
          </div>

          <div class="feature relative flex-grow max-w-full flex-1 px-4">
            <h4 class="fs-5">
              <i
                class="bi bi-door-open"
                style="font-size: 2rem; color: #05bd9b;"></i>
              <a href="fire-door-inspectors" class="">Fire Door Inspectors</a>
            </h4>
            <p class="mb-2">
              The correct inspection of your fire door and its frame are
              cruicial to its performance.
            </p>
            <div class="flex justify-between">
              <a href="fire-door-inspectors" class="">Further information...</a>
              <a
                href="areas-covered-fire-door-inspectors"
                class="text-xs"
                style="text-decoration: none; color: lightgray;"
                >Areas covered</a
              >
            </div>
            <hr />
          </div>
          <div class="feature relative flex-grow max-w-full flex-1 px-4">
            <h4 class="fs-5">
              <i class="bi bi-tools" style="font-size: 2rem; color: #05bd9b;"
              ></i>
              <a href="fire-door-installers" class="">Fire Door Installers</a>
            </h4>
            <p class="mb-2">
              The correct installation of fire door assemblies and doorsets is
              fundamental to their overall performance.<br />It will ensure the
              fire door will remain reliable to its fire integrity rating.
            </p>
            <div class="flex justify-between">
              <a href="fire-door-installers" class="">Further information...</a>
              <a
                href="areas-covered-fire-door-installers"
                class="text-xs"
                style="text-decoration: none; color: lightgray;"
                >Areas covered</a
              >
            </div>
            <hr />
          </div>
          <div class="feature relative flex-grow max-w-full flex-1 px-4">
            <h4 class="fs-5">
              <i
                class="bi bi-door-closed"
                style="font-size: 2rem; color: #05bd9b;"></i>
              <a href="fire-door-maintenance" class="">Fire Door Maintenance</a>
            </h4>
            <p class="mb-2">
              We provide our clients with a proactive approach to fire door
              maintenance and complience.
            </p>
            <div class="flex justify-between">
              <a href="fire-door-maintenance" class="">Further information...</a
              >
              <a
                href="areas-covered-fire-door-maintenance"
                class="text-xs"
                style="text-decoration: none; color: lightgray;"
                >Areas covered</a
              >
            </div>
            <hr />
          </div>
          <div class="feature relative flex-grow max-w-full flex-1 px-4">
            <h4 class="fs-5">
              <i
                class="bi bi-buildings"
                style="font-size: 2rem; color: #05bd9b;"></i>
              <a href="property-maintenance" class="">Property Maintenance</a>
            </h4>
            <p class="mb-2">Reactive and proactive property maintenance.</p>
            <div class="flex justify-between">
              <a href="property-maintenance" class="">Further information...</a>
              <a
                href="areas-covered-property-maintenance"
                class="text-xs"
                style="text-decoration: none; color: lightgray;"
                >Areas covered</a
              >
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
