---
// import Carousel from "../components/CarouselNew.astro";
import ContactForm from "./ContactForm.astro";
import Layout from "../layouts/Layout.astro";
import doorCloserOpen from "../assets/images/door-closer-open.jpeg";
import Image from "astro/components/Image.astro";
import OurServices from "./OurServices.astro";
import WhyFireDoors from "./WhyFireDoors.astro";
import CommonFaults from "./CommonFaults.astro";
import MainServices from "./MainServices.astro";
import FireStats from "./FireStats.astro";
import NearbyAreas from "./NearbyAreas.astro";

const { location, type } = Astro.params;

function capitalizeFirstLetter(string: string) {
  return string.charAt(0).toUpperCase() + string.slice(1);
}
const typeFormated = type
  ? type.split("-").map(capitalizeFirstLetter).join(" ")
  : "Fire Door Services";
const locationFormated = location ? capitalizeFirstLetter(location) : "COULSY";
---

<Layout title="">
  <div class="h-[600px] w-full absolute">
    <div class="w-full h-full backdrop-blur-[2px] absolute bg-gray-700/20">
    </div>
    <Image
      src={doorCloserOpen}
      width="856"
      height="512"
      class="object-fit w-full h-[600px]"
      alt="COULSY Fire Door Services"
      loading="eager"
    />
  </div>
  <main class="mx-auto md:mt-16 relative z-10">
    <div class="flex flex-wrap max-w-screen overflow-x-hidden">
      <div class="w-full md:w-2/3 lg:w-2/3 md:px-4">
        <!-- <div class="block flex-wrap max-w-full">
          <Carousel />
        </div> -->
        <div
          class="flex justify-center items-center h-80 md:h-[536px] pt-16 md:pt-0 pb-16"
        >
          <h1
            class="text-[56px] leading-[56px] mt-4 font-bold text-white w-80 text-center"
          >
            Welcome to {locationFormated}
            {typeFormated}
          </h1>
        </div>
      </div>

      <div class="lg:w-1/3 md:w-1/3 pr-4 pl-4">
        <div class="flex flex-wrap flex-col lg:pb-2">
          <ContactForm />
        </div>
      </div>
    </div>

    <MainServices />
    <WhyFireDoors />
    <CommonFaults />
    <FireStats />
    <OurServices />
    <NearbyAreas location={location} />
  </main>
</Layout>
