---

---

<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container">
    <a href="/" class="navbar-brand"> COULSY &nbsp;Fire Door Services</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="bs-collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="areas-covered-fire-door-services"
            id="themes">Fire Door Services</a>
          <div class="dropdown-menu" aria-labelledby="themes">
            <a class="dropdown-item" href="areas-covered-fire-door-services">Areas Covered</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="/bath-fire-door-services">Bath</a><a class="dropdown-item" href="/birmingham-fire-door-services">Birmingham</a><a class="dropdown-item" href="/bradford-fire-door-services">Bradford</a><a class="dropdown-item" href="/brighton-and-hove-fire-door-services">Brighton-and-hove</a><a class="dropdown-item" href="/bristol-fire-door-services">Bristol</a><a class="dropdown-item" href="/cambridge-fire-door-services">Cambridge</a><a class="dropdown-item" href="/canterbury-fire-door-services">Canterbury</a><a class="dropdown-item" href="/carlisle-fire-door-services">Carlisle</a><a class="dropdown-item" href="/chelmsford-fire-door-services">Chelmsford</a><a class="dropdown-item" href="/chester-fire-door-services">Chester</a><a class="dropdown-item" href="/chichester-fire-door-services">Chichester</a><a class="dropdown-item" href="/colchester-fire-door-services">Colchester</a><a class="dropdown-item" href="/coventry-fire-door-services">Coventry</a><a class="dropdown-item" href="/derby-fire-door-services">Derby</a><a class="dropdown-item" href="/doncaster-fire-door-services">Doncaster</a><a class="dropdown-item" href="/durham-fire-door-services">Durham</a><a class="dropdown-item" href="/ely-fire-door-services">Ely</a><a class="dropdown-item" href="/exeter-fire-door-services">Exeter</a><a class="dropdown-item" href="/gloucester-fire-door-services">Gloucester</a><a class="dropdown-item" href="/hereford-fire-door-services">Hereford</a><a class="dropdown-item" href="/kingston-upon-hull-fire-door-services">Kingston-upon-hull</a><a class="dropdown-item" href="/lancaster-fire-door-services">Lancaster</a><a class="dropdown-item" href="/leeds-fire-door-services">Leeds</a><a class="dropdown-item" href="/leicester-fire-door-services">Leicester</a><a class="dropdown-item" href="/lichfield-fire-door-services">Lichfield</a><a class="dropdown-item" href="/lincoln-fire-door-services">Lincoln</a><a class="dropdown-item" href="/liverpool-fire-door-services">Liverpool</a><a class="dropdown-item" href="/london-fire-door-services">London</a><a class="dropdown-item" href="/manchester-fire-door-services">Manchester</a><a class="dropdown-item" href="/milton-Keynes-fire-door-services">Milton-Keynes</a><a class="dropdown-item" href="/newcastle-upon-tyne-fire-door-services">Newcastle-upon-tyne</a><a class="dropdown-item" href="/norwich-fire-door-services">Norwich</a><a class="dropdown-item" href="/nottingham-fire-door-services">Nottingham</a><a class="dropdown-item" href="/peterborough-fire-door-services">Peterborough</a><a class="dropdown-item" href="/plymouth-fire-door-services">Plymouth</a><a class="dropdown-item" href="/portsmouth-fire-door-services">Portsmouth</a><a class="dropdown-item" href="/preston-fire-door-services">Preston</a><a class="dropdown-item" href="/ripon-fire-door-services">Ripon</a><a class="dropdown-item" href="/salford-fire-door-services">Salford</a><a class="dropdown-item" href="/salisbury-fire-door-services">Salisbury</a><a class="dropdown-item" href="/sheffield-fire-door-services">Sheffield</a><a class="dropdown-item" href="/southampton-fire-door-services">Southampton</a><a class="dropdown-item" href="/southend-on-sea-fire-door-services">Southend-on-sea</a><a class="dropdown-item" href="/st-albans-fire-door-services">St-albans</a><a class="dropdown-item" href="/stoke-on-trent-fire-door-services">Stoke-on-trent</a><a class="dropdown-item" href="/sunderland-fire-door-services">Sunderland</a><a class="dropdown-item" href="/truro-fire-door-services">Truro</a><a class="dropdown-item" href="/wakefield-fire-door-services">Wakefield</a><a class="dropdown-item" href="/wells-fire-door-services">Wells</a><a class="dropdown-item" href="/westminster-fire-door-services">Westminster</a><a class="dropdown-item" href="/winchester-fire-door-services">Winchester</a><a class="dropdown-item" href="/wolverhampton-fire-door-services">Wolverhampton</a><a class="dropdown-item" href="/worcester-fire-door-services">Worcester</a><a class="dropdown-item" href="/york-fire-door-services">York</a>
          </div>
        </li> -->

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="about">Our Services</a
          >
          <div class="dropdown-menu" aria-labelledby="download">
            <a class="dropdown-item" href="/fire-door-services"
              >Fire Door Services</a
            >
            <a class="dropdown-item" href="/fire-door-inspectors"
              >Fire Door Inspectors</a
            >
            <a class="dropdown-item" href="/fire-door-installers"
              >Fire Door Installers</a
            >
            <a class="dropdown-item" href="/fire-door-maintenance"
              >Fire Door Maintenance</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="property-maintenance"
              >Property Maintenance</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item disabled" href="">Resources</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="about">About</a
          >
          <div class="dropdown-menu" aria-labelledby="download">
            <a class="dropdown-item" href="/about">About</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/qualifications"
              >Our Qualifications</a
            >
            <a class="dropdown-item" href="/compliance">Our Compliance</a>
            <a class="dropdown-item" href="/sustainability"
              >Our Sustainability</a
            >
            <!-- <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="showcase">Our Showcase</a>
            <a class="dropdown-item" href="projects">Our Projects</a> -->
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-md-auto">
        <li class="nav-item">
          <a target="_blank" rel="noopener" class="nav-link" href="#"
            ><i class="bi bi-linkedin" style="font-size: 1.5rem;"></i></a
          >
        </li>
        <li class="nav-item">
          <a target="_blank" rel="noopener" class="nav-link" href="#"
            ><i class="bi bi-facebook" style="font-size: 1.5rem;"></i></a
          >
        </li>
        <li class="nav-item">
          <a target="_blank" rel="noopener" class="nav-link" href="#"
            ><i class="bi bi-twitter" style="font-size: 1.5rem;"></i></a
          >
        </li>
        <li class="nav-item">
          <a target="_blank" rel="noopener" class="nav-link" href="#"
            ><i class="bi bi-instagram" style="font-size: 1.5rem;"></i></a
          >
        </li>
      </ul>
    </div>
  </div>
</div>

<script>
  import { Dropdown } from "bootstrap";
</script>
