---
import Dropdown from "./Dropdown.astro";

const menuitems = [
  {
    label: "Our Services",
    link: "#",
    items: [
      { label: "Fire Door Services", link: "/fire-door-services" },
      { label: "Fire Door Installers", link: "/fire-door-installers" },
      { label: "Fire Door Inspectors", link: "/fire-door-inspectors" },
      { label: "Fire Door Maintenance", link: "/fire-door-maintenance" },
      { label: "Property Maintenance", link: "/property-maintenance" },
    ],
  },
  {
    label: "About",
    link: "#",
    items: [
      { label: "About", link: "/about" },
      { label: "Our Compliance", link: "/compliance" },
      { label: "Our Qualificaitons", link: "/qualifications" },
      { label: "Our Sustainability", link: "/sustainability" },
    ],
  },
  {
    label: "Contact",
    link: "/contact",
  },
];
---

<header
  class="flex flex-col lg:flex-row justify-between items-center bg-brand text-white"
>
  <div class="container mx-auto flex lg:max-h-16 h-16 items-center">
    <div class="flex w-full lg:w-auto items-center justify-between">
      <a href="/" class="text-lg text-white">COULSY Fire Doors</a>
      <div class="block lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
          class="w-6 h-6 m-2 text-white fill-white"
        >
          <path
            d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
          ></path>
        </svg>
      </div>
    </div>
    <nav class="hidden w-full lg:w-auto items-center lg:flex lg:mt-0">
      <ul class="flex flex-col lg:flex-row lg:gap-3 mb-0 lg:h-10 max-h-40">
        {
          menuitems.map((item, index) => (
            <>
              {item.items && <Dropdown label={item.label} items={item.items} />}

              {!item.items && (
                <li>
                  <a
                    href={item.link}
                    class="flex lg:px-3 py-2 items-center text-white hover:text-gray-200"
                  >
                    {item.label}
                  </a>
                </li>
              )}
            </>
          ))
        }
      </ul>
    </nav>
    <ul class="hidden lg:flex items-center gap-4 p-0 m-0 justify-end flex-grow">
      <li class="nav-item">
        <a target="_blank" rel="noopener" class="nav-link" href="#"
          ><i class="bi bi-linkedin" style="font-size: 1.5rem;"></i></a
        >
      </li>
      <li class="nav-item">
        <a target="_blank" rel="noopener" class="nav-link" href="#"
          ><i class="bi bi-facebook" style="font-size: 1.5rem;"></i></a
        >
      </li>
      <li class="nav-item">
        <a target="_blank" rel="noopener" class="nav-link" href="#"
          ><i class="bi bi-twitter" style="font-size: 1.5rem;"></i></a
        >
      </li>
      <li class="nav-item">
        <a target="_blank" rel="noopener" class="nav-link" href="#"
          ><i class="bi bi-instagram" style="font-size: 1.5rem;"></i></a
        >
      </li>
    </ul>
  </div>
</header>
