---
import { NEARBY_LOCATIONS } from "../constants/locations";
import { capitalizeFirstLetter } from "../utils/capitalizeFirstLetter";

interface Props {
  location?: string;
}

const { location } = Astro.props;

let nearbyLocations: string[] = NEARBY_LOCATIONS.default;

if (location && NEARBY_LOCATIONS[location]) {
  nearbyLocations = NEARBY_LOCATIONS[location];
}
---

<section class="w-full py-12 md:py-24 lg:py-30">
  <div class="px-4 md:px-6">
    <div
      class="flex flex-col items-center justify-center space-y-4 text-center"
    >
      <div class="space-y-2">
        <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
          Nearby Areas
        </h2>
        <p
          class="max-w-[700px] text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
        >
          Discover the other areas we serve {
            location ? `near ${capitalizeFirstLetter(location)}` : null
          } and learn more about the services we provide in each location.
        </p>
      </div>
    </div>

    <div
      class="mx-auto grid max-w-5xl grid-cols-1 gap-6 py-12 lg:grid-cols-4 sm:grid-cols-2 md:grid-cols-3 lg:gap-8 text-center"
    >
      {
        nearbyLocations.map((loc) => (
          <a
            class="group grid h-auto w-full items-center gap-1 rounded-md p-4 text-sm font-medium transition-colors hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:text-gray-900 focus:outline-none disabled:pointer-events-none disabled:opacity-50-800-50-800-50"
            href={`/joinery-services/${loc}-truss-roofs`}
          >
            <div class="text-sm font-medium leading-none">
              {capitalizeFirstLetter(loc)}
            </div>
          </a>
        ))
      }
    </div>
  </div>
</section>
