---
import ScheduledMaintenanceIcon from "../icons/ScheduledMaintenanceIcon.astro";
import BuildingMaintenanceIcon from "../icons/BuildingMaintenanceIcon.astro";
import DoorOpenIcon from "../icons/DoorOpenIcon.astro";
import TeamIcon from "../icons/TeamIcon.astro";
import InspectorIcon from "../icons/InspectorIcon.astro";
---

<section class="w-full py-12 md:py-24 container mx-auto">
  <div
    class="container grid items-center justify-center gap-4 px-4 text-center md:gap-10 md:px-6"
  >
    <div class="space-y-3">
      <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
        Our Services
      </h2>
      <p
        class="mx-auto max-w-[600px] text-gray-500 md:text-xl/relaxed xl:text-base/relaxed"
      >
        Our essential key fire door services
      </p>
    </div>
    <div
      class="grid w-full grid-cols-1 items-start justify-start gap-10 md:grid-cols-5 md:items-center md:justify-center md:gap-6"
    >
      <div
        class="flex flex-col h-full items-center justify-center space-y-2 md:row-start-1 md:space-y-4"
      >
        <div>
          <DoorOpenIcon className="h-6 w-6" />
        </div>
        <a href="/fire-door-services" class="hover:underline">
          <h3 class="text-lg font-semibold">Fire Door Services</h3>
        </a>
        <p class="text-sm text-gray-500 md:text-base/relaxed flex-1">
          The correct inspection of your fire door and its frame are cruicial to
          its performance.
          <a
            href="/fire-door-services"
            class="text-gray-700 font-semibold hover:underline block mt-4"
          >
            Find out more
          </a>
        </p>
      </div>
      <div
        class="flex flex-col h-full items-center justify-center space-y-2 md:space-y-4"
      >
        <div>
          <InspectorIcon className="h-6 w-6" />
        </div>
        <a href="/fire-door-inspectors" class="hover:underline">
          <h3 class="text-lg font-semibold">Fire Door Inspectors</h3>
        </a>
        <p class="text-sm text-gray-500 md:text-base/relaxed flex-1">
          The correct inspection of your fire door and its frame are cruicial to
          its performance.
          <a
            href="/fire-door-inspectors"
            class="text-gray-700 font-semibold hover:underline block mt-4"
          >
            Find out more
          </a>
        </p>
      </div>
      <div
        class="flex flex-col h-full items-center justify-center space-y-2 md:space-y-4"
      >
        <div>
          <TeamIcon className="h-6 w-6" />
        </div>
        <a href="/fire-door-installers" class="hover:underline">
          <h3 class="text-lg font-semibold">Fire Door Installers</h3>
        </a>
        <p class="text-sm text-gray-500 md:text-base/relaxed flex-1">
          The correct installation of fire door assemblies and doorsets is
          fundamental to their overall performance. It will ensure the fire door
          will remain reliable to its fire integrity rating.
          <a
            href="/fire-door-installers"
            class="text-gray-700 font-semibold hover:underline block mt-4"
          >
            Find out more
          </a>
        </p>
      </div>
      <div
        class="flex flex-col h-full items-center justify-center space-y-2 md:space-y-4"
      >
        <div>
          <ScheduledMaintenanceIcon className="h-6 w-6" />
        </div>
        <a href="/fire-door-maintenance" class="hover:underline">
          <h3 class="text-lg font-semibold">Fire Door Maintenance</h3>
        </a>
        <p class="text-sm text-gray-500 md:text-base/relaxed flex-1">
          We provide our clients with a proactive approach to fire door
          maintenance and complience.
          <a
            href="/fire-door-maintenance"
            class="text-gray-700 font-semibold hover:underline block mt-4"
          >
            Find out more
          </a>
        </p>
      </div>
      <div
        class="flex flex-col h-full items-center justify-center space-y-2 md:space-y-4"
      >
        <div>
          <BuildingMaintenanceIcon className="h-6 w-6" />
        </div>
        <a href="/property-maintenance" class="hover:underline">
          <h3 class="text-lg font-semibold">Property Maintenance</h3>
        </a>
        <p class="text-sm text-gray-500 md:text-base/relaxed flex-1">
          Reactive and proactive property maintenance through our other division.
          <a
            href="https://coulsycontractsolutions.co.uk/" target="_blank"
            class="text-gray-700 font-semibold hover:underline block mt-4"
          >
            Find out more
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
