---
import fireDoorKeepShut from "../assets/images/fire_door_keep_shut.jpeg";
import Image from "astro/components/Image.astro";
const { location } = Astro.params;

function capitalizeFirstLetter(string: string) {
  return string.charAt(0).toUpperCase() + string.slice(1);
}
---

<section class="overflow-hidden bg-gray-50 sm:grid sm:grid-cols-2 py-12">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div
      class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right"
    >
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
        Why fire doors?
      </h2>

      
      
      <p class="text-gray-500 mt-4 md:mt-4 md:block">
        Buildings are compartmentalized to delay the spread of fire and smoke from one area to another.
        These compartments are typically connected by doors to facilitate the passage of traffic.
      </p>
      <p class="text-gray-500 mt-4 md:mt-4 md:block">
        Fire door sets play a crucial role during a fire. 
        When closed, they act as barriers to prevent the spread of fire and smoke, 
        while also providing a means of escape.
      </p>
      <p class="text-gray-500 mt-4 md:mt-4 md:block">
        Most fire deaths are not caused by burns, but by smoke inhalation, which
        can lead to the inability to exit the building. <span
          class="text-red-600 font-semibold block"
        >
        Smoke can incapacitate victims very quickly!
        </span>
      </p>
      <p class="text-gray-500 mt-4 md:mt-4 md:block">
        All of our { location ? ` ${capitalizeFirstLetter(location)}` : null } fire doors are rigorously tested to meet the appropriate regulations, 
        ensuring they are fit for purpose and provide absolute assurance of your building's and occupants' safety.
      </p>

      <div class="mt-8">
        <a
          href="
        contact"
          class="mt-4 bg-brand text-white rounded-sm text-lg p-4"
        >
          Contact Us Today
        </a>
      </div>
    </div>
  </div>
  <!-- <img
    alt="
          "
    src="https://images.unsplash.com/photo-1464582883107-8adf2dca8a9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
    class="h-56 w-full object-cover sm:h-full"
  /> -->
  <Image
    src={fireDoorKeepShut}
    width="640"
    height="553"
    class="h-56 w-full object-cover sm:h-full"
    alt="Fire door keep shut"
  />
</section>
