---
import "../styles.scss";

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import CookieBanner from "../components/CookieBanner.astro";

interface Props {
  title: string;
  classes?: string;
}

const { title, classes } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Coulsy fire door services" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Coulsy Fire Doors</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <Navbar />
    <main class={`flex-1 ${classes}`}>
      <slot />
    </main>
    <Footer />
    <!-- <CookieBanner /> -->
    <style is:global></style>
    <script
      defer
      data-domain="coulsyfiredoors.co.uk"
      src="https://analytics.coulsy.dev/js/script.js"></script>
  </body>
</html>
