---
import "../styles.scss";

import Navbar from "../components/NavbarNew.astro";
import Footer from "../components/Footer.astro";
import CookieBanner from "../components/CookieBanner.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Coulsy Fire Doors</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <CookieBanner />
    <style is:global></style>
  </body>
</html>
